:root {
    --primaryColor: #551CF6;
}

html {
    margin-inline: 240px;
    padding: 0;
    width: auto;
}

body {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;

    justify-content: center;
}

#initial {
    margin: 0;
    padding: 0;
    height: 100vh;

    font-size: 24px;
    font-weight: 300;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    & h1 {
        font-size: 89.76px;
    }

    & h2 {
        font-size: 67.34px;
    }


}

h1,
h2 {
    color: white;
}

button {
    color: var(--primaryColor);
    background-color: transparent;
    border-color: white;
    border-width: 2px;
    border-radius: calc(infinity * 1px);
    width: 128px;
    height: 64px;

    text-align: center;
    padding: 5px 0;
    font-size: 48px;


    &:hover {
        background-color: var(--primaryColor);
        color: white;
        border-color: var(--primaryColor);
        transition: 0.2s ease-in-out;
        width: 192px;
        height: 96px;
        font-size: 56px;
    }
}

button>a {
    text-decoration: none;

    &:hover {
        color: white;
        transition: 0.2s ease-in-out;
    }
}

#informations {
    /* overflow: auto; */
    display: none;
    flex-direction: column;
    margin: 0;
    padding: 0;

    max-width: 1920px;

    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;

    & h1 {
        font-size: 89.76px;
        /* font-size: 10em; */
    }
}

.card {
    font-weight: 900;
    margin: 8px;
    padding: 16px;
    width: 100%;
    line-height: 1.6;

    border: 1px solid #ccc;
    border-radius: 16px;

    /* word-break: break-all;
    -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto; */
    & h2 {
        font-size: 67.34px;
        /*font-size: 6em;*/
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-color: var(--primaryColor);
        text-underline-offset: 8px;
        text-align: left;
    }

    & h3 {
        font-size: 50.52px;
        /* font-size: 4em; */
        color: white;
    }

    & p {
        color: white;
        font-size: 16px;
        font-weight: 400;
        text-align: left;

        & u {
            text-decoration: solid underline var(--primaryColor) 2px;
            text-underline-offset: 2px;
        }
    }
}

#aboutMe {
    display: flex;
    flex-direction: row;
    align-items: center;

    & .aboutMe-content {
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;

        & h2 {
            text-align: left;
        }
    }

    & .aboutMe-img {
        & img {
            border-radius: 8%;
            overflow: hidden;
            width: 320px;
            height: auto;
        }
    }

    
}

#technologies {
    & .icons {
        font-size: 96px;
        display: flex; /* Change from wrap to flex */
        flex-wrap: wrap;
        justify-content: space-around; /* Equal spacing between icons */
        align-items: center; /* Vertically center icons */
        
        & .icon-container {
            text-align: center;
        }

        & img {
            width: 88px;
            /* Largura da imagem */
            height: 88px;
            /* Altura da imagem */
            object-fit: contain;
            /* Mantém a proporção da imagem */
        }

        & span {
            display: block; /* Ensure label is on a new line */
            color: white; /* Label color */
            font-size: 16px; /* Label font size */
            margin-top: 2px; /* Space between icon and label */
        }
    }
}


.project-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.project-card {
    /* width: 80%;
    max-width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px; */
    flex: 0 1 300px;
    width: 400px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 2px solid var(--primaryColor);


    & a {
        width: 400px;

        & img {
            width: 100%;
            height: 240px;
            object-fit: cover;
            border-radius: 16px;
        }
    }


    & .middle-message {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 8px;
        font-weight: 300;
        flex-grow: 1;
        align-items: center;

        & div {
            height: 64px;
            align-items: center;
            margin-bottom: 8px;
            display: flex;
            justify-content: center;
            align-items: center;

            & h4 {
                color: black;
                font-size: 21.33px;
                font-weight: 500;
                margin: 0;
                padding: 0;
            }
        }

        & p {
            color: black;
            font-size: 16px;
            font-weight: 300;
            text-align: center;
        }

        & .project-card-btn {
            width: auto;
            height: 32px;
            font-size: 16px;
            padding: 4px;
            border-color: var(--primaryColor);

            & a {
                text-decoration: none;

                &:hover {
                    color: white;
                    transition: 0.2s ease-in-out;
                }
            }

            & :hover {
                background-color: var(--primaryColor);
                color: white;
                transition: 0.2s ease-in-out;
            }
        }


    }

}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }

    html {
        margin-inline: 0px;
        padding: 0;
    }

    #initial {
        & h1 {
            font-size: 48px;
        }

        & h2 {
            font-size: 36px;
        }
    }

    .card {
        margin: 2px;
        padding: 8px;

        & h1 {
            font-size: 48px;
        }

        & h2 {
            font-size: 36px;
            text-align: center;
        }

        & h3 {
            font-size: 24px;
        }

        & p {
            font-size: 14px;
        }

    }

    #aboutMe {
        flex-direction: column;

        & div {
            margin: 0;
            padding: 0;

            & img {
                width: 300px;
            }
        }

        & .aboutMe-content {
            align-items: center;
        }
    }

    #technologies {
        & .icons {
            font-size: 64px;

            & img {
                width: 60px;
                height: 60px;
            }
        }
    }




    .project-card {
        /* Allow cards to take more width */
        overflow: hidden;
        margin: 4px;

        /* Adjust margins */
        & img {
            height: 144px;
        }
    }
}