@media (max-width: 1600px) {

    #informations {
        & nav {
            width: 90dvw;
        }
    }
}

@media (max-width: 1200px) {
    #aboutMe {
        height: auto;
        min-height: 100vh;
        padding: 12px 0px;

        & .aboutMe-holder{
            flex-direction: column;
        }
    }
}

@media (max-width: 900px) {
    :root {
        --fs-h1: 3rem;
        --fs-h2: 2rem;
        --fs-body: 1rem;
    }

    .project-card {
        flex: 0 1 150px;
        width: 150px;
        box-shadow: -4px -4px 1.5px var(--alterWhite);

        & .middle-message {
            & .project-card-btn {
                & a {
                    margin: 0px 2px;
                }
            }

            & p {
                display: none;
            }
        }

        & a {
            width: 148px;

            & img {
                height: 125px;
            }
        }
    }
}

@media (max-width: 768px) {
    :root {
        --fs-h1: 3rem;
        --fs-h2: 2rem;
        --fs-body: 1rem;
    }


    #aboutMe {

        & .aboutMe-holder{

            & .aboutMe-content {
                margin: 4px;
                padding: 4px;
                max-width: 95dvw;
            }

            & .aboutMe-img {
                width: 100%;
                display: flex;
                justify-content: center;
                
                & img {
                    max-width: 90vw;
                    margin: 0 0 20px 0; /* Remove as margens laterais do desktop */
                    box-shadow: -4px 4px 1.5px var(--alterWhite); /* Sombra para baixo no mobile */
                }
            }
        }   
    }

    .section-header {
        flex-direction: column;
        gap: 12px;
    }
    
    #personal-projects, #academic-projects{
        margin: 12px 0px;
        padding: 4px 16px 12px 16px;

        & .project-holder {
            display: flex;
            flex-direction: column;
        }
    }

    #technologies{
        margin: 0px;
        padding: 12px;
        & .icons{
            padding: 4px;
        }
    }

    
}
@media (max-width: 600px) {
    :root {
        --fs-h1: 3rem;
        --fs-h2: 2rem;
        --fs-body: 0.5rem;
    }

}


